{% extends 'main/header.html' %}

{% block content %}

    <div class="row">
        {% for job, partone in part_ones.items %}
            <div class="col s12 m6 l6">
                <a href="{{job.job_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{job.job_title}}</div>
                            <p> Company: {{job.job_company}}</p>
                            <p> Location: {{job.job_location}}</p>
                            <p> Salary Range: {{job.job_salary}}</p>
                            <p style="font-size:70%">Click for details </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}